<p-card class="card-style">
    <p-fieldset legend="Login" class="usuario-login">
        <span class="p-float-label">
            <label for="usuario">Usuario:</label>
            <br />
            <input id="usuario" type="email" pInputText>
        </span>
        <br />
        <br />
        <span class="p-float-label">
            <label for="usuario">Senha:</label>
            <br />
            <input id="usuario" type="password" pInputText>
        </span>
        
    </p-fieldset>
</p-card>