.usuario-login{
    text-align: center;
    position: relative;
    
}

*{
    font-size: 37px;
    font-family: 'Dancing Script';
    font: bolder;
}

.card-style{
    width: 25rem;
    margin-bottom: 2em;
    position: relative;
}
.username{
    font-family: 'Dancing Script';
    font-size: 22px;
}
.div-style{
    width: 50%;
    margin: 30px 25%;
}


p-footer{
    align-items: center;
    margin: 40vw
}